[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
click = "*"
holidays = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
types-PyYAML = "*"
types-requests = "*"
types-python-dateutil = "*"
bandit = "*"
safety = "*"
pip-audit = "*"
pip-licenses = "*"
pre-commit = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.10"
